<html>
<head>
    <meta charset="utf-8">

    <title>SURF</title>

    <link rel="stylesheet" href="../../Ressources/css/styles.css" type="text/css">

</head>

<body>
    <div class="navBarWrapper">
        <div class="navBarLeft">
            <button>Find surfspot</button>
            <button>Om os</button>
        </div>

        <div class="navBarRight">
            <a href="login">Login</a>
        </div>
    </div>
    @RenderBody()
</body>
</html>