body{  
    background-image: url('../Images/SurfingImage.jpg');
   
}
.navBarWrapper{
    width: 100%;
    height: 10%;
    background-color: rgba(241, 241, 241, 0.5);
    display: flex;
    justify-self: ;
    align-items: center;
}
.navBarLeft{
    float: left;
    width: 10%;
    height: 10%;
    align-items: center;
}
.navBarRight{
    float: right;
    width: 10%;
    height: 10%;
    align-self: flex-end;
    align-items: center;
}

