@{
    Layout = "_Layout";
}
<div class="contentWrapper">
    <div class="regionContainer">
        <select id="RegionSelect">
            <option value="" selected disabled hidden>Vælg her...</option>
            <option>Sjælland</option>
            <option>Fyn</option>
            <option>Jylland</option>
        </select>
        <button id="RegionButton">OK</button>
    </div>
</div>