@model Surf_far_til_5.Models.Spot;

@{
    Layout = "_Layout";
}
<div class="contentWrapper">
    <div class="regionContainer">
        <button id="RegionButton">@Model.Lattitude.ToString()</button>
    </div>
</div>