@model Surfapplikation.Models.LoginViewModel
@{
    Layout = "_Layout";
}

<fieldset class="account">
    
    <h1>Log ind</h1>

    <br />

    <form role="form" asp-action="Login">
        <div asp-validation-summary="All" class="input-validation-error"></div>

        <div class="form-group">
            <label asp-for="EmailAddress"></label><br />
            <input type="email" asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label><br />
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="RememberMe"></label><br />
            <input type="checkbox" asp-for="RememberMe" />
            <span asp-validation-for="RememberMe" class="field-validation-error"></span>
        </div>
        <div>
            <label>&nbsp;</label><br />
            <button type="submit" class="btn btn-primary">Login</button>
        </div>

    </form>
    <br />

    <div class="form-group">
        <label>Not Registered?</label>
        <a asp-action="Register">Create a new account</a>
    </div>

</fieldset>
