@{
    Layout = "_Layout";
}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <style>
        body {
            margin: 0px;
            padding: 0px;
        }

        #map {
            position: absolute;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 50%;
        }
    </style>
    <script src="https://unpkg.com/ol-mapbox-style@3.6.2/dist/olms.js" type="text/javascript"></script>
    <title>Add multiple markers</title>
</head>
<body>
    <style>
        .marker {
            display: block;
            border: none;
            cursor: pointer;
            padding: 0;
        }
    </style>
    <div id="map"></div>
    <pre id="coordinates" class="coordinates"></pre>
    <script type="text/javascript">

        var key = 'pk.d36e64f7f24afa3ba6fc119b04721177';   //Insert your LocationIQ access token here
        var coordinates = document.getElementById('coordinates');

        olms('map', 'https://tiles.locationiq.com/v2/streets/vector.json?key=' + key).then(function (map) {

            //Set the view for this map
            map.setView(new ol.View({
                center: ol.proj.fromLonLat([10.402370, 55.403756]),
                zoom: 8
            }));

            //Add markers from geojson. This list can be generated dynamically with an AJAX call as well.
            var geojson = {
                "type": "FeatureCollection",
                "features":
                    [
                        {
                            "type": "Feature",
                            "properties": {
                                "message": "Nyborg",
                                "iconSize": [60, 60]
                            },
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    10.78964,
                                    55.31274
                                ]
                            }
                        },
                        {
                            "type": "Feature",
                            "properties": {
                                "message": "Middelfart",
                                "iconSize": [50, 50]
                            },
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    9.747172,
                                    	55.497204
                                ]
                            }
                        },
                        {
                            "type": "Feature",
                            "properties": {
                                "message": "Bogense",
                                "iconSize": [40, 40]
                            },
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    10.094465,
                                    55.566962
                                ]
                            }
                        }
                    ]
            };

            //Add markers to map
            geojson.features.forEach(function (marker) {
                // create a DOM element for the marker
                let markerEle = marker;
                var el = document.createElement('div');
                el.className = 'marker';
                el.style.backgroundImage = 'url(../../Images/Marker.png)';
                el.style.width = '32px';
                el.style.height = '32px';

                //Instead of this click listener, we can attach a popup / infowindow to this marker (see `Add Popup to a marker` example)
                el.addEventListener('click', function () {
                    window.alert(markerEle.properties.message);
                });

                // add marker to map
                var marker = new ol.Overlay({
                    position: ol.proj.fromLonLat(marker.geometry.coordinates),
                    positioning: 'center-center',
                    element: el,
                    stopEvent: false,
                    className: 'marker'
                });
                map.addOverlay(marker);
            });

            var lastMarker;

            map.on('click', function (e) {
                map.removeOverlay(lastMarker);
                var coordinate = e.coordinate;
                var lngLat = ol.proj.toLonLat(coordinate);

                // create a DOM element for the marker
                let markerEle = marker;
                var el = document.createElement('div');
                el.className = 'marker';
                el.style.backgroundImage = 'url(../../Images/Marker.png)';
                el.style.width = '32px';
                el.style.height = '32px';

                //Instead of this click listener, we can attach a popup / infowindow to this marker (see `Add Popup to a marker` example)
                el.addEventListener('click', function () {
                    window.alert(markerEle.properties.message);
                });

                // add marker to map
                var marker = new ol.Overlay({
                    position: ol.proj.fromLonLat(lngLat),
                    positioning: 'center-center',
                    element: el,
                    stopEvent: false,
                    className: 'marker'
                });
                map.addOverlay(marker);

                lastMarker = marker;

                coordinates.style.display = 'block';
                coordinates.innerHTML =
                    'Latitude: ' + lngLat[1] + '<br />Longitude: ' + lngLat[0];
            });

        });

    </script>
</body>
</html>

