@addTagHelper *, Surfapplikation
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SURF</title>
    <link rel="stylesheet" href="../../css/styleSurf.css" type="text/css">
</head>

<body>
    <div class="navBarWrapper">
        <div class="navBarLeft">
            <a class="navBarLink" asp-area="" asp-controller="Home" asp-action="index">Find surfspot</a>
            <a class="navBarLink" href="">Om os</a>
            <a class="navBarLink" asp-area="" asp-controller="Search" asp-action="index">Søg på surfspot</a>
        </div>
        <div class="navBarRight">
            <a class="navBarLink" asp-area="" asp-controller="Account" asp-action="index">Log ind</a>
        </div>
    </div>
    @RenderBody()
</body>
</html>