@addTagHelper *, Surfapplikation
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SURF</title>
    <link rel="stylesheet" href="../../css/styleSurf.css" type="text/css">
</head>

<body>
    <div class="navBarWrapper">
        <div class="navBarLeft">
            <a class="navBarLink" asp-area="" asp-controller="Home" asp-action="index">Find surfspot</a>
            <a class="navBarLink" asp-area="" asp-controller="Home" asp-action="privacy">Om os</a>
            <a class="navBarLink" asp-area="" asp-controller="Search" asp-action="index">Søg på surfspot</a>
        </div>
        <div class="navBarRight">
            @if (User.Identity.IsAuthenticated)
            {
                <form id="logout" action="@Url.Action("Logout", "Account")" method="POST">
                    <a href="javascript: $('#logout').submit()" class="last">
                        Logout
                        <br /><span class="tagline">@User.Identity.Name</span>
                    </a>
                </form>
                <a class="navBarLink" asp-area="" asp-controller="Account" asp-action="register">Ny bruger</a>
            }
            else
            {
                <a class="navBarLink" asp-area="" asp-controller="Account" asp-action="login">Log ind</a>
                <a class="navBarLink" asp-area="" asp-controller="Account" asp-action="register">Ny bruger</a>
            }
        </div>
    </div>
    @RenderBody()

    @RenderSection("Scripts", required: false);
</body>
</html>