* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../Images/SurfingImage.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.navBarWrapper {
    width: 100%;
    height: 10vh;
    background-color: rgba(241, 241, 241, 0.5);
    background: linear-gradient(to right,rgba(241, 241, 241, 0.5),rgba(241, 241, 241, 0.8));
    display: flex;
    justify-content: space-between;
}

    .navBarWrapper .navBarLeft {
        display: flex;
        width: 25%;
    }

    .navBarWrapper .navBarRight {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 25%;
    }

.navBarLink {
    text-decoration: none;
    margin: 40px;
    font-size: 20px;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: #1d4996;
}

#link {
    text-decoration: none;
    margin: 40px;
    font-size: 20px;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: #1d4996;
}

.navBarWrapper a:hover {
    margin: 40px;
    font-size: 20px;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: #4d81dd;
}

.navBarWrapper a:focus {
    outline: 0;
}

.contentWrapper {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regionContainer {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 580px
}

#RegionSelect {
    font-size: 20px;
    width: 80%;
}

#RegionButton {
    width: 20%;
    background-color: #4d81dd;
    border: 0;
}
